#fan-control{
    border: 2px solid #bfbfbf;
    border-radius: 2%;
}
mat-slider{
    width: 50%;
}
label[for="speed-slider"] {
    width: 40%;
}
#speed-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
}
.form#fan-control{
    width: 30%;
}