<div class="w-100 h-100 d-flex flex-column">
    <!-- Header -->
    <mat-toolbar color="primary" class="header">
        <span>Service Dock
        <!--  TODO:-->
        <!--   - IMPLEMENT THE TEMPERATURE MONITOR COMPONENT<br>-->
        <!--   - APPLY THE ROUTING TO SERVICES, NOT SERVICE-FUNCTIONALITIES<br>-->
        </span>
        <span class="spacer"></span>
        <mat-icon aria-hidden="false">verified_user</mat-icon>
    </mat-toolbar>

    <!-- Main Content -->
    <mat-sidenav-container class="sidenav-container">
        <!-- Sidebar -->
        <mat-sidenav mode="side" opened class="sidenav">
            <p class="sidenav-title">Services</p>
            <mat-nav-list>
                <a mat-list-item routerLink="/fan-control" routerLinkActive="active-link">Fan Control</a>
                <a mat-list-item routerLink="/environmental-monitor" routerLinkActive="active-link">Environmental Monitor</a>
            </mat-nav-list>
        </mat-sidenav>

        <!-- Main Content Area -->
        <mat-sidenav-content class="content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <!-- Footer -->
    <mat-toolbar color="accent" class="footer">
        Footer here ç.ç
    </mat-toolbar>
</div>
